<div class="col-md-4">
  <div class="row">
    <div class="col-md-12">
      <div class="media">
        <div class="media-left">
          <img class="media-object" src="{{selectedMake.logoUrl}}" alt="logo">
        </div>
        <div class="media-body">
          <h3 class="media-heading">
            {{selectedMake.name + ' ' + selectedModel.name}}
            <small>{{selectedVersion.name}}</small>
          </h3>
          <button class="btn btn-primary" (click)="addToMyCars()">Add to my cars</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <table class="table table-bordered table-hover">
          <tbody>
          <tr>
            <td>Average rating</td>
            <td>{{formatNumber(averageRating)}}</td>
          </tr>
          <tr>
            <td>Years</td>
            <td>{{selectedVersion.years}}</td>
          </tr>
          <tr>
            <td>Body</td>
            <td>{{selectedModel.body}}</td>
          </tr>
          <tr>
            <td>Fuel</td>
            <td>{{selectedVersion.fuel}}</td>
          </tr>
          <tr>
            <td>City fuel consumption</td>
            <td>{{formatNumber(selectedVersion.cityFuelConsumption)}}</td>
          </tr>
          <tr>
            <td>Highway fuel consumption</td>
            <td>{{formatNumber(selectedVersion.highwayFuelConsumption)}}</td>
          </tr>
          <tr>
            <td>Mixed fuel consumption</td>
            <td>{{formatNumber(selectedVersion.mixedFuelConsumption)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="pull-left" style="margin-left: 10px">
          Ratings
        </div>
        <div class="pull-right" style="margin-right: 10px">
          <button class="btn btn-primary" (click)="ratingFormModal.open()">
            Add rating
          </button>
        </div>
      </div>
    </div>
    <table class="table table-hover">
      <tr *ngIf="ratings.length === 0">
        <td>No ratings yet. Be the first one to rate this car!</td>
      </tr>
      <tr *ngFor="let r of ratings">
        <td>{{formatComment(r.comment)}}</td>
        <td>
          {{r.points}}
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </td>
        <td>{{formatDate(r.date)}}</td>
      </tr>
    </table>
  </div>
</div>

<app-rating-form #ratingFormModal [versionId]="selectedVersion.id"
                 (ratingSaved)="handleRatingSaved($event)"></app-rating-form>
