<div class="col-md-offset-4 col-md-4">
  <div class="jumbotron">
    <form (ngSubmit)="register(registerForm.value)" [formGroup]="registerForm">
      <div class="form-group" [ngClass]="{'has-error': email.invalid && (email.dirty || email.touched)}">
        <input type="email" name="email" placeholder="Email" class="form-control" required="required"
               formControlName="email"/>
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <span class="help-block" *ngIf="email.errors.required">This field is required</span>
          <span class="help-block" *ngIf="email.errors.email">Provide valid email address</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': password.invalid && (password.dirty || password.touched)}">
        <input type="password" name="password" placeholder="Password" class="form-control" required="required"
               formControlName="password"/>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <span class="help-block" *ngIf="password.errors.required">This field is required</span>
          <span class="help-block" *ngIf="password.errors.minlength">Password must be at least 8 characters long</span>
        </div>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error': confirmedPassword.invalid && (confirmedPassword.dirty || confirmedPassword.touched)}">
        <input type="password" name="confirmedPassword" placeholder="Confirm password" class="form-control"
               required="required" formControlName="confirmedPassword"/>
        <span class="help-block"
              *ngIf="confirmedPassword.invalid && (confirmedPassword.dirty || confirmedPassword.touched)">Passwords must be equal</span>
      </div>
      <button class="btn btn-primary btn-block" type="submit"
              [disabled]="registerForm.invalid || registerButtonDisabled">
        {{registerButtonDisabled ? 'Wait...' : 'Sign Up'}}
      </button>
    </form>
  </div>
</div>
