<div class="col-md-3"></div>
<div class="col-md-6">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <div class="link jumbotron" style="background-color: aqua" (click)="showCars()">
          All cars
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron" style="background-color: beige">
          My cars
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron" style="background-color: chocolate">
          Compare cars
        </div>
      </div>
      <div class="col-md-6">
        <div class="link jumbotron" style="background-color: deepskyblue" (click)="showFuelStations()">
          Closest fuel stations
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3"></div>
