<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">The most popular cars</h3>
    </div>
    <div class="panel-body">
      <table class="table table-tiles">
        <tbody>
        <tr class="table-tile link" *ngFor="let object of popularVersions" (click)="showCarInfo(object.version.id)">
          <td>
            <img class="logo" src="{{object.make.logoUrl}}" alt="{{object.make.name}}"/>
          </td>
          <td>
            <h4>
              {{object.model.name}}
              <small>{{object.version.name}}</small>
            </h4>
          </td>
          <td>{{object.version.cars.length}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="link tile jumbotron" (click)="showCars()">
            All cars
          </div>
        </div>
        <div class="col-md-6">
          <div class="link tile jumbotron" (click)="showUserCars()">
            My cars
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="link tile jumbotron" (click)="showCarsComparison()">
            Compare cars
          </div>
        </div>
        <div class="col-md-6">
          <div class="link tile jumbotron" (click)="showFuelStations()">
            Fuel stations map
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Average fuel prices</h3>
    </div>
    <div class="panel-body">
      <table class="table table-tiles">
        <tbody>
        <tr>
          <td class="table-tile diesel-tile" align="center">
            <h2>
              <small>Diesel</small>
              4.30
            </h2>
          </td>
          <td class="table-tile gasoline-tile" align="center">
            <h2>
              <small>Pb95</small>
              4.40
            </h2>
          </td>
        </tr>
        <tr>
          <td class="table-tile gasoline-tile" align="center">
            <h2>
              <small>Pb98</small>
              4.50
            </h2>
          </td>
          <td class="table-tile lpg-tile" align="center">
            <h2>
              <small>LPG</small>
              2.20
            </h2>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
