.tile {
  transition: all 0.5s ease;
  background-color: white;
  text-align: center;
  font-size: 1.25em;
}

.tile:hover {
  background-color: #18bc9c;
  font-size: 1.5em;
}

.cars-table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.table-tile {
  transition: all 0.5s ease;
}

.table-tile:hover {
  background-color: #18bc9c;
}

.table-tile.diesel-tile:hover {
  background-color: gray;
}

.table-tile.gasoline-tile:hover {
  background-color: darkgreen;
}

.table-tile.lpg-tile:hover {
  background-color: indianred;
}

.logo {
  height: 70px;
  width: 70px;
}

h2.fuel-price-info {
  margin: 0;
  padding: 0;
}
