<div class="col-md-3">
  <div class="list-group">
    <input class="list-group-item" type="text"/>
    <a class="list-group-item link" *ngFor="let make of makes" (click)="selectMake(make)">
      <!--<img src="{{make.logoUrl}}" class="img-responsive">-->
      {{make.name}}
      <span class="badge">{{make.models.length}}</span>
    </a>
  </div>
</div>
<div class="col-md-3">
  <div class="list-group">
    <a class="list-group-item link" *ngFor="let model of models" (click)="selectModel(model)">
      {{model.name}}
    </a>
  </div>
</div>
<div class="col-md-3">
  <div class="list-group">
    <a class="list-group-item link" *ngFor="let version of versions">
      <!--<img src="{{make.logoUrl}}" class="img-responsive">-->
      {{version.name}}
      <span class="badge">{{version.years}}</span>
    </a>
  </div>
</div>
<div class="col-md-3">

</div>
