<bs-modal #modal>
  <bs-modal-header>
    <h4 class="modal-title">Rating</h4>
  </bs-modal-header>
  <form (ngSubmit)="submitRatingForm()">
    <bs-modal-body>
      <div class="row">
        <div class="col-md-12">
          <textarea class="form-control" placeholder="Comment" name="comment" [(ngModel)]="comment"></textarea>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <select name="points" class="form-control" [(ngModel)]="points">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
      </div>
    </bs-modal-body>
    <bs-modal-footer>
      <button class="btn btn-primary" type="submit">
        Save
      </button>
      <button class="btn btn-default" type="button" (click)="modal.dismiss()">Cancel</button>
    </bs-modal-footer>
  </form>
</bs-modal>
