<div class="row">
  <div class="col-md-3">
    <select class="form-control" [ngModel]="selectedMake" (ngModelChange)="onMakeChange($event)">
      <option *ngFor="let m of makes" [ngValue]="m">{{m.name}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <select class="form-control" [ngModel]="selectedModel" (ngModelChange)="onModelChange($event)"
            [disabled]="models.length === 0">
      <option *ngFor="let m of models" [ngValue]="m">{{m.name}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <select class="form-control" [(ngModel)]="selectedVersion" [disabled]="versions.length === 0">
      <option *ngFor="let v of versions" [ngValue]="v">{{v.name}}</option>
    </select>
  </div>
  <div class="col-md-3">
    <button class="btn btn-primary btn-block" [disabled]="selectedVersion === null" (click)="addToComparison()">
      Add to comparison
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" *ngIf="carsToCompare.length !== 0">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th></th>
            <th *ngFor="let c of carsToCompare">
              <a class="link" (click)="showCarInfo(c.version.id)">
                {{c.make.name + ' ' + c.model.name + ' ' + c.version.name}}
              </a>
              <span class="close" aria-label="close" (click)="removeFromComparison(c)">&times;</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><b>Average rating</b></td>
            <td *ngFor="let c of carsToCompare">{{formatNumber(c.averageRating, 2)}}</td>
          </tr>
          <tr>
            <td><b>Years</b></td>
            <td *ngFor="let c of carsToCompare">{{c.version.years}}</td>
          </tr>
          <tr>
            <td><b>Body</b></td>
            <td *ngFor="let c of carsToCompare">{{c.model.body}}</td>
          </tr>
          <tr>
            <td><b>Fuel</b></td>
            <td *ngFor="let c of carsToCompare">
              {{formatFuel(c.version.fuel)}}
            </td>
          </tr>
          <tr>
            <td><b>City fuel consumption</b></td>
            <td *ngFor="let c of carsToCompare">
              {{formatNumber(c.version.cityFuelConsumption, 2)}}
            </td>
          </tr>
          <tr>
            <td><b>Highway fuel consumption</b></td>
            <td *ngFor="let c of carsToCompare">
              {{formatNumber(c.version.highwayFuelConsumption, 2)}}
            </td>
          </tr>
          <tr>
            <td><b>Mixed fuel consumption</b></td>
            <td *ngFor="let c of carsToCompare">
              {{formatNumber(c.version.mixedFuelConsumption, 2)}}
            </td>
          </tr>
          <tr>
            <td><b>Average fuel consumption</b></td>
            <td *ngFor="let c of carsToCompare">
              {{formatNumber(c.version.averageFuelConsumption, 2)}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-offset-4 col-md-4">
      <div class="alert alert-info" *ngIf="carsToCompare.length === 0">
        Choose cars to compare
      </div>
    </div>
  </div>
</div>
