.link {
  cursor: pointer !important;
}

.table-tiles {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.table-tile {
  transition: all 0.5s ease;
}

.table-tile:hover {
  background-color: #18bc9c;
}

.table-tile-danger {
  background-color: indianred;
}

.table-tile-success {
  background-color: palegreen;
}

.scrollable {
  max-height: 80vh;
  overflow-y: auto;
}
